baseURL = "https://laphael58.github.io/"
languageCode = "ko-kr"
title = "Hack-and-Grow"
theme = "PaperMod"
relativeURLs = false
canonifyURLs = true

[permalinks]
posts = "/:slug/"

[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1

  [[menu.main]]
    name = "Blog"
    url = "/posts/"
    weight = 2

  [[menu.main]]
    name = "Archive"
    url = "/archive/"
    weight = 3