name: Deploy Hugo to Pages

on:
  push:
    branches:
      - main  # 소스 레포 main 브랜치에 push하면 실행

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.152.2'

      - run: hugo --minify

      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: main  # 배포 레포 브랜치
          destination_repo: laphael58/laphael58.github.io  # 배포 레포
